#dropArea {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 50px auto;
}

#dropArea p {
    margin: 0;
    font-size: 18px;
    color: #999;
}

#dropArea.highlight {
    background-color: #e9f5fe;
    
}